
<div class=" container sobre-all d-flex flex-nowrap">
    <div class="col-sm-8">
        <h2 class="display-3  col-sm- text-uppercase">SOBRE</h2>
        <p>O Convento da Penha é um dos santuários religiosos mais antigos do Brasil, localizado no município de Vila
            Velha, estado do Espírito Santo. Está situado no alto de um penhasco, a 154 metros de altitude, sendo uma
            das igrejas mais antigas do estado, cujas obras avançavam aos poucos e tiveram início por volta de 1558, a
            mando de frei Pedro Palácios.</p>
    </div>
    <figure class="figure  col-sm-4 sobre-img text-center">
        <img src="/assets/imgConvento3.jpg" class=" " alt="...">
    </figure>
</div>