<div class="localizacao-all container d-flex flex-nowrap">
  <div class="col-sm-8">
    <h1 class="display-3  text-uppercase">Localização</h1>
  </div>
  <iframe class="figure  col-sm-4 banner-img text-center"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3741.2967211841915!2d-40.2919399133464!3d-20.329357202252574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb816498a913f37%3A0xa2c5411362c10f93!2sCONVENTO%20DA%20PENHA!5e0!3m2!1spt-BR!2sbr!4v1694824379740!5m2!1spt-BR!2sbr"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>