<app-Nav></app-Nav>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Convento da Penha</h6>
        <p class="card-text">O Convento da Penha é um dos santuários religiosos mais antigos do Brasil, localizado no
            município de Vila Velha, estado do Espírito Santo. Está situado no alto de um penhasco, a 154 metros de
            altitude, sendo uma das igrejas mais antigas do estado, cujas obras avançavam aos poucos e tiveram início
            por volta de 1558, a mando de frei Pedro Palácios.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
<app-Footer></app-Footer>